# mailserver ssl e-mail  password  lprhost lprqueue attachmenttypes copies keepOnServer imapFolder
# eg.:     
imap.gmail.com ssl username@gmail.com Your¤#"SecrtPswd 127.0.0.1 Brother_Printer .pdf 1 Y

